*.pyc
*.csv
*.pyc

*.pyc

*.pyc

simplenetwork/__pycache__/TCPio.cpython-35.pyc

*.xml
.idea/*
.idea/workspace.xml

*.pyc

simplenetwork/__pycache__/__init__.cpython-35.pyc

simplenetwork/__pycache__/serverData.cpython-35.pyc

simplenetwork/__pycache__/Servers.cpython-35.pyc

simplenetwork/__pycache__/TCPio.cpython-35.pyc

simplenetwork/__pycache__/UDPio.cpython-35.pyc

*.pyc
